.container {
    width: 350px;
    height: 500px;
    /* background-color: gray; */
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr 3fr 2fr 1fr 3fr 2fr;
    grid-template-areas: 
    "top-card top-card"
    "left-top right-top"
    "left-top right-center"
    "left-bottom right-center"
    "left-bottom right-bottom"
    "bottom-card bottom-card";
}
.card-top {
    grid-area: top-card;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.left-top {
    grid-area: left-top;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.left-bottom {
    grid-area: left-bottom;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.right-top {
    grid-area: right-top;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.right-center {
    grid-area: right-center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.right-bottom {
    grid-area: right-bottom;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}
.card-bottom {
    grid-area: bottom-card;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.75);
}