.container {
    width: 80vw;
    height: 600px;
    margin: auto;
    /* background-color: purple; */
    display: grid;
    grid-template-columns: 1fr 8fr 6fr 2fr;
    grid-template-rows: 2fr 8fr 8fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar content1 content1 sidebar2"
    "sidebar content1 content1 sidebar2"
    "sidebar footer footer footer";
}
.header {
    background-color: chocolate;
    grid-area: header;
}
.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}
.content1 {
    background-color: blue;
    grid-area: content1;
}
.sidebar2 {
    background-color: red;
    grid-area: sidebar2;
}
.footer {
    background-color: teal;
    grid-area: footer;
}