.main-container {
    /* background-color: gray; */
    width: 100%;
    height: 460px;
    display: inline-block;
    /* margin: auto; */
}
.container1 {
    vertical-align: top;
    display: inline-block;
    width: 49%;
    height: 700px;
    /* background-color: green; */
    padding: 70px;
}
.container2 {
    display: inline-block;
    width: 38%;
    height: 100%;
    background-color: #f8f8fa;
}
.naslov {
    width: 90%;
    font-family: sans-serif;
}
.txt {
    font-family: sans-serif;
    color: rgb(75 85 99);
    line-height: 23px;
    padding-bottom: 20px;
}
.placeholder {
    margin: 0%;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(75 85 99);
}
.unos {
    border: 1px solid #d1d5db;
    border-radius: 5px;
    width: 270px;
    height: 35px;
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
}
input:focus {
    outline-color: rgb(128 130 239);
}
.dugme {
    color: white;
    background-color: rgb(99 102 241);
    border: none;
    padding: 8px;
    border-radius: 5px;
    height: 41px;
    width: 85px;
    font-size: 15px;
}
button:hover {
    background-color: rgb(66 70 239);
}
.neutra {
    margin: 0px;
    margin-top: 7px;
    padding-bottom: 40px;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(75 85 99);
}
.download {
    vertical-align: top;
    display: inline-block;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    height: 57px;
    width: 180px;
    background-color: rgb(243 244 246);
    color: rgb(75 85 99);
}
.playprod {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.ikona {
    font-size: 25px;
}
.txt1 {
    text-align: start;
    margin: 0px;
}
.txt2 {
    text-align: start;
    margin: 0px;
}
.get-it {
    display: inline-block;
    width: 115px;
    text-align: start;
}
.download:hover {
    background-color: rgb(220 221 223);
}