*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}
body {
    background-color: #141c68;
}
.container {
    width: 676px;
    height: 480px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.slika {
    display: inline-block;
}
.put {
    width: 200%;
    height: 25%;
    background-color: black;
    position: absolute;
    bottom: 0%;
    border-bottom: 3px solid yellow;
    border-top: 3px solid yellow;
}
.linija {
    width: 20px;
    height: 5px;
    display: inline-block;
    background-color: white;
    position: relative;
    right: 0%;
    bottom: -45%;
    left: -30%;
    margin-left: 10px;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes example {
    0% {
        left: 0%;
    }
    100% {
        left: -50%;
    }
}
.auto {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 10%;
    top: -73%;
    color: red;
}
.tocak {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 12.6%;
    top: -4%;
    animation-name: example2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.prednji {
    left: 25.55%;
    top: -3%;
}
@keyframes example2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.znak {
    position: absolute;
    right: 48%;
    top: -30%;
    animation-name: example3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes example3 {
    0% {
        right: 48%;
    }
    100% {
        right: 120%;
    }
}
.cev {
    width: 5px;
    height: 150px;
    background-color: gray;
    margin-left: 17px;
}
.tabla {
    height: 60px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -20%;
    border: 5px solid red;
}
.bajs {
    color: black;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 15%;
}