.main-container {
    height: 500px;
}
.container1 {
    background-color: blue;
    display: inline-block;
}
.container1 {
    display: inline-block;
}
.container2 {
    display: inline-block;
    width: 50%;
}