.main-container {
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80");
}